*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MedievalSharp';
}

/*Main page*/
html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.9)
    ),url(./assets/website/bricks.jpg);
    
    
}

h1{
    font-weight: 500;
    font-size: 35px;
    color: white;
    font-family: 'Calligraffitti';
}

.assets{
    display: none;
}

.layers{
    display: none;
}



@media screen and (min-width: 1024px) {

    .section-1{
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.9)
        ),
        url(./assets/website/wood-image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .instructions-wrapper{
        width: 80vw;
        height: 80vh;
        /* border: 3px solid green; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    
    .presentation-wrapper{
        width: 95%;
        height: 65vh;
        /* border: 3px solid red; */
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .portrait{
        height: 85%;
        width: 23%;
        background-image: url(./assets/website/portrait.png);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        border-image: url(./assets/website/frame.png) 30 fill / 30px / 37px;
    }
    
    .scroll{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 65vh;
        width: 62%;
        padding-top: 10vh;
        padding-left: 6vw;
        padding-right: 6vw;
        padding-bottom: 10vh;
        background-image: url(./assets/website/scroll.png);
        background-size:95% 90%;
        background-repeat: no-repeat;
        background-position: center;
    
    }
    
    .text h2{
        font-size: 2.5vw;
        margin-bottom: 10px;
    }
    
    .text article{
        font-size: 1.85vh;
    }
    
    .text li{
        margin-left: 20px;
    }

    /* .text br{
        content: "";
        margin-top: 1vh;
        display: block;
    } */

    .start-game{
        display: flex;
        justify-content: flex-end;
    }

    .start-game a{
        font-size: 1.8vw;
        font-weight: bold;
        text-decoration: none;
        color: #9c0808;
        
    }
      
    .start-game a:hover {
        color: #c52f2f;
    }

    
.section-2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.5)
    ),
    url(./assets/website/wood-image.jpg);
} 

/*Game*/
#canvas1{
    height: 70%;
}

#container{
    width: 50vw;
    height: 25vh;
    position: absolute;
    transform: translateY(70%);
    background-color: rgba(0, 0, 0, 0.700);
    padding: 30px;
    font-family: 'Lora';
    color: rgb(230, 230, 230);
    font-size: 23px;
    text-align: left;
    opacity: 0;
}

#container.revealed{
    opacity: 1;
}

#goodVictory-button, #evilVictory-button, #restart-button{
    background-color: rgba(0, 0, 0, 0.700);
    padding: 10px;
    font-family: 'Lora';
    color: #cc875f;
    font-size: 25px;
    font-weight: bold;
    border: 3px solid #cc875f;
    border-style: ridge;
}

#goodVictory-button:hover, #evilVictory-button:hover, #restart-button:hover{
    background: #9c3e083a;
}

#restart-button{
    position: absolute;
    transform: translateY(300%);
}

#goodVictory-button{
    position: absolute;
    transform: translateY(300%);
    right: 60%;
}

#evilVictory-button{
    position: absolute;
    transform: translateY(300%);
    left: 60%;
}


}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .section-1{
        height: 93vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.9)
        ),
        url(./assets/website/wood-image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .instructions-wrapper{
        width: 90vw;
        height: 82vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    
    .presentation-wrapper{
        width: 100%;
        height: 75vh;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .portrait{
        height: 80%;
        width: 35%;
        background-image: url(./assets/website/portrait.png);
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        border-image: url(./assets/website/frame.png) 30 fill / 18px / 25px;
    }
    
    .scroll{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 60%;
        padding-top: 17%;
        padding-left: 8%;
        padding-right: 9%;
        padding-bottom: 20%;
        background-image: url(./assets/website/scroll2.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .text h2{
        font-size: 2.5vh;
        margin-bottom: 5px;
    }

    .text br{
        content: "";
        margin-top: 1vh;
        display: block;
    }
    
    .text article{
        font-size: 1.8vh;
    }
    
    .text li{
        margin-left: 15px;
    }

    .start-game{
        display: flex;
        justify-content: flex-end;
    }

    .start-game a{
        font-size: 1.9vh;
        font-weight: bold;
        text-decoration: none;
        color: #9c0808;
        
    }
      
    .start-game a:hover {
        color: #c52f2f;
    }

    .section-2{
        display: none;
    }


}

#music-div{
    display: flex;
    align-items: center;
    justify-content:center;
}

#music-button{
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
}

#music-button:link{
    font-weight: bold;
    color: #cc875f;
    border: 3px solid #cc875f;
    border-style: ridge;
}

#music-button:visited {
    color: #cc875f;
}
  
#music-button:hover {
    background: #9c3e083a;
}
  
#music-button:active {
    background: #cc875f;
    color: #9c3e08;
}
