*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MedievalSharp';
}

/*Main page*/
html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.9)), url(./assets/website/bricks.jpg);


}

h1 {
    font-weight: 500;
    font-size: 35px;
    color: white;
    font-family: 'Calligraffitti';
}

.assets {
    display: none;
}

.layers {
    display: none;
}



@media screen and (min-width: 1024px) {

    .section-1 {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.9)),
            url(./assets/website/wood-image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .instructions-wrapper {
        width: 80vw;
        height: 80vh;
        /* border: 3px solid green; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .presentation-wrapper {
        width: 95%;
        height: 65vh;
        /* border: 3px solid red; */
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .portrait {
        height: 85%;
        width: 23%;
        background-image: url(./assets/website/portrait.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-image: url(./assets/website/frame.png) 30 fill / 30px / 37px;
    }

    .scroll {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 65vh;
        width: 62%;
        padding-top: 10vh;
        padding-left: 6vw;
        padding-right: 6vw;
        padding-bottom: 10vh;
        background-image: url(./assets/website/scroll.png);
        background-size: 95% 90%;
        background-repeat: no-repeat;
        background-position: center;

    }

    .text h2 {
        font-size: 2.5vw;
        margin-bottom: 10px;
    }

    .text article {
        font-size: 1.8vh;
    }

    .text li {
        margin-left: 20px;
    }

    .text br {
        content: "";
        margin-top: 1.8vh;
        display: block;
    }

    .start-game {
        display: flex;
        justify-content: flex-end;
    }

    .start-game a {
        font-size: 1.6vw;
        font-weight: bold;
        text-decoration: none;
        color: #9c0808;

    }

    .start-game a:hover {
        color: #c52f2f;
    }


    .section-2 {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.9),
                rgba(0, 0, 0, 0.5)),
            url(./assets/website/wood-image.jpg);
    }




    /*Game*/
    .game-div {
        width: 1350px;
        height: 725px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    #canvas1 {
        height: 100%;
        width: 85%;
    }

    #container {
        width: 50vw;
        height: 25vh;
        position: absolute;
        transform: translateY(70%);
        background-color: rgba(0, 0, 0, 0.700);
        padding: 30px;
        font-family: 'Lora';
        color: rgb(230, 230, 230);
        font-size: 23px;
        text-align: left;
        opacity: 0;
    }

    #container.revealed {
        opacity: 1;
    }

    #goodVictory-button,
    #evilVictory-button,
    #restart-button {
        background-color: rgba(0, 0, 0, 0.700);
        padding: 10px;
        font-family: 'Lora';
        color: #cc875f;
        font-size: 25px;
        font-weight: bold;
        border: 3px solid #cc875f;
        border-style: ridge;
    }

    #goodVictory-button:hover,
    #evilVictory-button:hover,
    #restart-button:hover {
        background: #9c3e083a;
    }

    #restart-button {
        position: absolute;
        transform: translateY(300%);
    }

    #goodVictory-button {
        position: absolute;
        transform: translateY(300%);
        right: 60%;
    }

    #evilVictory-button {
        position: absolute;
        transform: translateY(300%);
        left: 60%;
    }

    footer {
        padding: 30px;
        font-size: 20px;
        color: white;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.9)), url(./assets/website/bricks.jpg);

        height: 10vh;
    }

    footer p {
        margin-right: 20px;
    }

    footer a {
        filter: sepia(100%);
    }

    footer a:hover {
        filter: brightness(10);
    }

    footer img {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        width: 2rem;
        height: 2rem;
    }

}

/* Medium devices */
@media screen and (min-width: 481px) and (max-width: 1023px) {

    .section-1 {
        height: 81vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.9)),
            url(./assets/website/wood-image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .instructions-wrapper {
        width: 92vw;
        height: 82vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .presentation-wrapper {
        width: 100%;
        height: 68vh;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .portrait {
        height: 80%;
        width: 32%;
        background-image: url(./assets/website/portrait.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-image: url(./assets/website/frame.png) 30 fill / 18px / 25px;
    }

    .scroll {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 95%;
        width: 60%;
        padding-top: 15%;
        padding-left: 8%;
        padding-right: 9%;
        padding-bottom: 21%;
        background-image: url(./assets/website/scroll2.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .text h2 {
        font-size: 2.5vh;
        margin-bottom: 5px;
    }

    .text br {
        content: "";
        margin-top: 1vh;
        display: block;
    }

    .text article {
        font-size: 1.7vh;
    }

    .text li {
        margin-left: 15px;
    }

    .start-game {
        visibility: hidden;
    }

    .section-2 {
        display: none;
    }

    footer {
        padding: 20px;
        font-size: 18px;
        color: white;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.9)), url(./assets/website/bricks.jpg);
    }

    footer p {
        margin-right: 20px;
    }

    footer a {
        filter: sepia(100%);
    }

    footer a:hover {
        filter: brightness(10);
    }

    footer img {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        width: 2rem;
        height: 2rem;
    }

}

/* Small devices */
@media screen and (max-width: 480px) {

    .section-1 {
        height: 93vh;
        display: flex;
        justify-content: center;
        align-items: top;
        background-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.9)),
            url(./assets/website/wood-image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .instructions-wrapper {
        width: 95vw;
        height: 185vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .presentation-wrapper {
        width: 90vw;
        height: 165vh;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .portrait {
        height: 50vh;
        width: 75%;
        background-image: url(./assets/website/portrait.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-image: url(./assets/website/frame.png) 30 fill / 20px / 25px;
    }

    .scroll {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75vh;
        width: 100%;
        padding-top: 28%;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 32%;
        background-image: url(./assets/website/scroll2.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .text h2 {
        font-size: 2.5vh;
        margin-bottom: 5px;
    }

    .text br {
        content: "";
        margin-top: 1vh;
        display: block;
    }

    .text article {
        font-size: 1.8vh;
    }

    .text li {
        margin-left: 15px;
    }

    .start-game {
        visibility: hidden;
    }

    .section-2 {
        height: 93vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.9),
                rgba(0, 0, 0, 0.5)),
            url(./assets/website/wood-image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    footer {
        padding: 10px;
        font-size: 14px;
        color: white;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-image: linear-gradient(to bottom,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.9)), url(./assets/website/bricks.jpg);

        height: 10vh;
    }

    footer p {
        margin-right: 10px;
    }

    footer a {
        filter: sepia(100%);
    }

    footer a:hover {
        filter: brightness(10);
    }

    footer img {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        width: 1.5rem;
        height: 1.5rem;
    }


}


#music-div {
    display: flex;
    align-items: center;
    justify-content: center;
}



.button{
    color: rgba(56, 27, 8, 0.884);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.514);
    border: none;
    padding: 12px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
                inset 0px -5px 0px 0px rgba(0,0,0,0.3),
                inset 0px 2px 0px 0px rgba(44, 9, 0, 0.288);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.button:active {
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.2),
                inset 0px -2px 0px 0px rgba(0,0,0,0.3),
                inset 0px 2px 0px 0px rgba(44, 9, 0, 0.288);
                top: 3px;
                
}

.wood{
    background-image: linear-gradient(
        to bottom,
        rgba(37, 20, 1, 0.3),
        rgba(37, 20, 1, 0.8)
    ),url(https://img.freepik.com/free-photo/texture-background_1404-99.jpg?w=740&t=st=1675770363~exp=1675770963~hmac=d182e7331d7e8fd2b6a462cf3b0ebb7a35a86c7a56a6723b2a4a73f183e6e253);
}


